<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<!--
该配置会初始化参数contextClass
指定使用注解配置的 AnnotationConfigWebApplicationContext，
配置文件的位置参数 contextConfigLocation指向AppConfig的完整类名，
将servlet映射到 /* ，即处理所有的URL
-->
<web-app>
<!--    添加全局的编码过滤器-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>com.huixiong.AppConfig</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>

<!--
上述配置可以看作一个样本配置。
servlet使用这个配置，首先初始化Spring MVC的DispatcherServlet，
在DispatcherServlet启动时，
会根据AppConfig创建一个类型是WebApplicationContext的IoC容器，
初始化所有Bean，绑定到ServletContext上。

因为DispactherServlet持有Ioc容器，能从IoC容器中获取所有@Controller的Bean，
所以，DispactherServlet接收到所有HTTP请求后，根据Controller方法配置的路径，
就可以正确地把请求转发到指定方法，根据ModelAndView决定如何渲染页面。

-->